<div class="min-vh-100 d-flex bg-fitbite">
  <div class="container py-4">
    <!-- LOADING -->
    <div *ngIf="!user" class="text-center mt-5">
      <p>Loading user...</p>
    </div>

    <!-- DASHBOARD NEW USER-->
    <div *ngIf="user && isNewUser">
      <!-- HEADER -->
      <div class="card content-card border-0 shadow-sm p-3 mb-4">
        <h3>Welcome, {{ user.fullName }} 👋</h3>
        <p class="text-muted mb-0">
          Track meals, monitor progress, and explore recommendations anytime.
        </p>

        <h6 class="mb-0 mt-3">Daily Progress</h6>

        <div class="progress mb-2" style="height: 8px">
          <div class="progress-bar" style="width: 0%"></div>
        </div>

        <small class="text-muted"
          >Set a goal or add a meal to see your daily progress.</small
        >
      </div>
      <!-- QUICK STATS -->
      <div class="row g-3 mb-4">
        <div class="col-6 col-md-3">
          <div class="card content-card shadow-sm p-3 text-center">
            <small class="text-muted">Calories Today</small>
            <h5 class="mb-0">0</h5>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card content-card border-0 shadow-sm p-3 text-center">
            <small class="text-muted">Meals Logged</small>
            <h5 class="mb-0">0</h5>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card content-card border-0 shadow-sm p-3 text-center">
            <small class="text-muted">Goal Progress</small>
            <h5 class="mb-0">0%</h5>
          </div>
        </div>
      </div>

      <div class="text-muted small mb-3">
        You can start by doing one of the above:
      </div>

      <!-- ACTIONS (EQUAL IMPORTANCE) -->
      <div class="row g-3 mb-4">
        <div class="col-12 col-md-4">
          <div
            class="card content-card border-0 shadow-sm p-4 h-100 d-flex flex-column"
          >
            <h5>Personalize your plan</h5>

            <p class="text-muted small">
              Optional setup to improve personalization of calories and
              recommendations.
            </p>

            <div class="mt-auto">
              <!-- BUTTON -->
              <button
                class="btn btn-fitbite text-white w-100"
                (click)="openGoalModal()"
              >
                Set Goal
              </button>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div
            class="card content-card border-0 shadow-sm p-4 h-100 d-flex flex-column"
          >
            <h5>Log a meal</h5>

            <p class="text-muted small">
              Track what you eat to monitor calories and nutrition.
            </p>

            <div class="mt-auto">
              <button
                class="btn btn-outline-fitbite w-100"
                (click)="navigateToAddMeal()"
              >
                Add Meal
              </button>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <div
            class="card content-card border-0 shadow-sm p-4 h-100 d-flex flex-column"
          >
            <h5>Recommendations</h5>

            <p class="text-muted small">
              Get meal suggestions based on your activity and preferences.
            </p>

            <div class="mt-auto">
              <button class="btn btn-outline-secondary w-100">View</button>
            </div>
          </div>
        </div>
      </div>

      <!-- RECENT MEALS -->
      <div class="card content-card border-0 shadow-sm p-3 mb-4">
        <h6 class="mb-3">Today’s Meals</h6>

        <div class="text-muted small">
          No meals logged yet. Add your first meal to start tracking.
        </div>
      </div>

      <!-- CONTEXTUAL TIP (NOT SEPARATE SECTION) -->
      <div class="text-muted small mb-3">
        💡 Tip: Logging meals regularly improves accuracy of your nutrition
        insights.
      </div>
    </div>
    <!-- DASHBOARD EXISTING USER -->
    <div *ngIf="user && !isNewUser">
      <!-- HEADER -->
      <div class="card content-card border-0 shadow-sm p-3 mb-4">
        <h3>Good to see you back, {{ user.fullName }} 👋</h3>
        <p class="text-muted mb-0">Here is your daily overview.</p>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <h6 class="mb-0 mt-3">Daily Progress</h6>
          <p class="text-muted fs-3">{{ progressBar }}%</p>
        </div>

        <div class="progress mb-2" style="height: 8px">
          <div class="progress-bar" [style.width.%]="progressBar"></div>
        </div>
      </div>

      <!-- QUICK STATS -->
      <div class="row g-3 mb-4">
        <div class="col-6 col-md-3">
          <div class="card content-card border-0 shadow-sm p-3 text-center">
            <small class="text-muted">Calories Today</small>
            <h5 class="mb-0">
              {{ dailyGoal?.caloriesDone }} / {{ generalGoal?.calorieGoal }}
            </h5>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card content-card border-0 shadow-sm p-3 text-center">
            <small class="text-muted">Meals Logged</small>
            <h5 class="mb-0">{{ meals.length }}</h5>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card content-card border-0 shadow-sm p-3 text-center">
            <small class="text-muted">Water</small>
            <h5 class="mb-0">
              {{ dailyGoal?.waterDone }} / {{ generalGoal?.waterGoal }} l
            </h5>
          </div>
        </div>

        <div class="col-6 col-md-3">
          <div class="card content-card border-0 shadow-sm p-3 text-center">
            <small class="text-muted">Goal</small>
            <h5 class="mb-0">{{ generalGoal?.weightTarget }} kg</h5>
          </div>
        </div>
      </div>

      <!-- ACTIONS -->
      <div class="row g-3 mb-4">
        <div class="col-12 col-md-6">
          <div
            class="card content-card border-0 shadow-sm p-4 h-100 d-flex flex-column"
          >
            <h5>Log a meal</h5>
            <p class="text-muted small">
              Add what you eat and track your nutrition instantly.
            </p>

            <div class="mt-auto">
              <button
                class="btn btn-fitbite text-white w-100"
                (click)="navigateToAddMeal()"
              >
                Add Meal
              </button>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div
            class="card content-card border-0 shadow-sm p-4 h-100 d-flex flex-column"
          >
            <h5>Update goals</h5>
            <p class="text-muted small">
              Adjust your daily calorie and water targets.
            </p>

            <div class="mt-auto">
              <button
                class="btn btn-outline-fitbite w-100"
                (click)="openGoalModal()"
              >
                Edit Goal
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- RECENT MEALS -->
      <div class="card content-card border-0 shadow-sm p-3 mb-4">
        <h6 class="mb-3">Today’s Meals</h6>

        <div *ngIf="meals.length === 0" class="text-muted small">
          No meals logged today.
        </div>

        <div *ngFor="let meal of meals" class="mb-2">
          <div class="d-flex justify-content-between">
            <strong>{{ meal.mealType }}</strong>
            <small class="text-muted">{{ meal.totalCalories }} kcal</small>
          </div>
          <small class="text-muted">{{ meal.description }}</small>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL -->
  <app-add-general-goal
    [isOpen]="showGoalModal"
    (close)="closeGoalModal()"
    (save)="onGoalSave($event)"
  >
  </app-add-general-goal>
</div>
